html, body {
    overflow: hidden;
}

body {
    position: fixed;
    background: #898995;
    color: #222;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.canvases {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}

canvas {
    max-width: 100%;
    height: auto;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.15),
                -2px -2px 3px 3px rgba(255, 255, 255, 0.15);
}

.controls {
    margin-bottom: 30px;

    button {
        border: none;
        box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.15),
                    -2px -2px 3px 3px rgba(255, 255, 255, 0.15);
        background: #898995;
        color: #222;
        font-weight: bold;
        padding: 10px 20px;
        margin: 0 10px;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.05s ease-in-out all;

        &:hover {
            background: darken(#898995, 1%);
            box-shadow: 2px 2px 3px 3px rgba(255, 255, 255, 0.15),
                        -2px -2px 3px 3px rgba(0, 0, 0, 0.15);
        }
    }
}

p {
    max-width: 500px;
    text-align: center;
}